.cart{
    background-image: url(https://as1.ftcdn.net/v2/jpg/05/23/92/32/1000_F_523923253_DsE8EgoAiSvZcuE3Wn2Vze7V7mPjtZuS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
