
#hero {
    background-image: url("https://plus.unsplash.com/premium_photo-1664201889922-66bc3c778c1e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGVjb21tZXJjZXxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .category-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 20px;
    padding: 10px;
  }
  
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-evenly;
    gap: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #ffe4e1;
    border-radius: 5px;
    animation: fadeIn 0.6s ease-out forwards;
  }
  
  .ProductDiv {
    transform: translateY(0);
    transition: transform 0.3s ease-out;
  }
  
  .ProductDiv:hover {
    transform: translateY(-10px);
  }

  