  
.one-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffe4e1;
  }
  
  .oneProductDiv {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 90%;
    max-width: 1200px;
    background-color: #f9f9f9;
    height: 400px;
  }
  
  .oneProductDiv img {
    margin-right: 20px;
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  
  .productDetails {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
  }
  
  .productDetails h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .productDetails h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .productDetails p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .productDetails button {
    margin-top: auto;
    padding: 15px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .productDetails button:hover {
    background-color: #0056b3;
  }
  
  .similar-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  
  .similarProductDiv {
    margin: 10px;
    width: 240px;
  }
  
  .similarProductDiv .ant-card {
    width: 100%;
  }
  
  .similarProductDiv img {
    cursor: pointer;
    width: 100%;
    height: 140px;
    object-fit: cover;
  }